<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC "-//APACHE//DTD LOG4J 1.2//EN" "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<!-- Appenders -->
	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-5p: %c - %m%n" />
		</layout>
	</appender>
	
	<appender name="file" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="append" value="true" />
		<param name="DatePattern" value="'.'yyyy-MM-dd" />
		<param name="file" value="/log/idt/idt.log" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d{yyyy-MM-dd HH:mm:ss}]%m%n" />
		</layout>
	</appender>	
	
	<logger name="com.kmw.test">
        <level value="DEBUG"/>
    </logger>  
	
	<logger name="jdbc.sqlonly" additivity="true">
		<level value="INFO" />
    </logger>
 
    <logger name="jdbc.sqltiming" additivity="true">
        <level value="INFO" />
    </logger>
    <logger name="jdbc.audit" additivity="true">
        <level value="INFO" />
    </logger>
    <logger name="jdbc.resultset" additivity="true">
        <level value="INFO" />
    </logger>
 
    <logger name="org.springframework" additivity="false">
        <level value="INFO" />
    </logger>
 
    <logger name="org.springframework.jdbc" additivity="true">
        <level value="INFO" />
    </logger>
 
    <root>
        <level value="INFO" />
        <appender-ref ref="console" />
        <appender-ref ref="file" />
    </root>
	
</log4j:configuration>
